<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Server Side Search Using DataTables API</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/resources/css/style.css" />
</head>
<body>
	<!-- Page Header -->
	<header class="masthead"
		style="background-image: url('/resources/dash-pic.jpeg')" >
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-6 mx-auto">
				<div class="site-heading">
					<h1>ServerSide Search Using DataTables API</h1>
					<!-- <span class="subheading">Server Side Search Using DataTables API in Spring MVC</span> -->
					<span class="meta" id="pLink">Posted by <a href="https://www.linkedin.com/in/sai-charan-krishnagiri/"
						style="color: #e1ef0d;" target="_blank">Sai Charan</a></span>
				</div>
			</div>
		</div>
	</div>
	</header>
	<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto" id="articleText">
				<p>This article shows how to implement Server side search
					mechanism using DataTables API in Spring MVC.</p>
				<p>To all the developers who face difficulty in implementing the
					Server side search, this article is for you.</p>
				<p>
					You can read the article <a
						href="https://www.linkedin.com/pulse/server-side-search-using-datatables-spring-mvc-sai-charan"
						target="_blank">here</a>
				</p>
				<p>
					You can download the project here <a
						href="https://github.com/cherry196/cherry196.github.io.git"
						target="_blank">here</a>
				</p>
			</div>
		</div>
	</div>
	</article>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
